[2014-10-16 16:48] boombatower opened #1 "SSL Cert verrification"
Several months ago before the official openSUSE base existed I started experimenting with Docker and used https://registry.hub.docker.com/u/mmckeen/opensuse-13-1/ to get started. I switched over to the official base once released, but encountered SSL cert verification breaking when installing https://getcomposer.org/ via a Dockerfile.

I assumed the packages simply were not installed since I've se

[2014-11-04 13:46] #1 closed, assigned to nobody

[2015-04-27 14:24] stefan-it opened #2 "[13.1] zypper update fails"
Hi,

using the `from opensuse:13.1` image and the `run zypper --non-interactive --no-gpg-checks up` command (in order to do an upgrade) the upgrade process fails with the following error message:

[code]

Is there any *secret* option for `zypper` available to bypass these kind of conflicts?

[2015-04-29 13:31] stefan-it commented on #2
I workarounded the error message with:

[code]

with using the `zypper update` option called `--replacefiles` - seems to work now :)

[2015-04-30 18:43] stefan-it commented on #2
Issue is solved with this [PR](https://github.com/docker-library/official-images/pull/699) :) Thanks @flavio for fixing that!

[2015-04-30 18:43] #2 closed

[2015-06-12 01:38] tianon opened #3 "CVE-2015-4000 ("Logjam")"
https://www.openssl.org/blog/blog/2015/05/20/logjam-freak-upcoming-changes/
https://weakdh.org/
https://bugzilla.novell.com/show_bug.cgi?id=CVE-2015-4000
https://bugzilla.novell.com/show_bug.cgi?id=931698

Reading those reports, I'm not sure whether or not updated packages are available, but once they are actually available, updated rootfs tarballs would be :+1:. :heart:

[2015-07-01 16:44] tianon commented on #3
This was fixed in the latest update we just merged, right?

[2015-07-01 16:48] flavio commented on #3
yes

[2015-07-01 16:48] #3 closed

[2015-07-09 20:54] troytop opened #4 "opensuse:13.2 repo-oss points to non-existent /base-system/ dir"
When I run the opensuse:13.2, I'm unable to install or update packages from repo-oss

[code]

I see there's [a fix/work-around for this in the opensuse:tumbleweed branch](https://github.com/openSUSE/docker-containers-build/blob/openSUSE-Tumbleweed/docker/Dockerfile#L4). I've done something similar in my own Dockerfile:

[code]

[2015-07-10 08:23] flavio commented on #4
This has been fixed during the last days, make sure you are using the latest version of opensuse:13.2 from the Docker hub (id: c7ff47bc7ebb)

[2015-07-10 08:23] #4 closed

[2015-07-10 16:35] troytop commented on #4
Thanks!

[2015-10-04 17:45] imbroglioj opened #6 "locale, glibc-locale issues"
Container image Version: openSUSE 20150725 (Tumbleweed) (x86_64)
Docker version 1.6.2, build 7c8fca2; running on ubuntu 14.04.2
After running into locale issues with a (tar) copy of mongodb, I tried installing mongodb with zypper. I got this error:
"Retrieving package glibc-locale-2.22-2.2.x86_64                       (1/3),   6.0 MiB (115.3 MiB unpacked)
Media source 'http://download.opensuse.org

[2015-10-04 18:33] flavio commented on #6
You have to refresh repositories' metadata:

[code]

[2015-10-04 18:33] #6 closed

[2015-10-04 19:09] imbroglioj commented on #6
Thank you very much. I missed that command.
Also, I was able to resolve the locale problem I had had on the suse 13.2 version. So all good now. -JB

[2015-11-03 15:11] andreasstieger opened #7 "Tumbleweed build automatically imports gpg keys"
35541028a567a6b797487ec202eb2dc7d469a591

``RUN zypper -n --gpg-auto-import-keys ar http://download.opensuse.org/factory/repo/oss/ OSS``

Auto importing keys should not be used.
Put the trusted key into the build or image.

[2015-11-09 21:47] flavio commented on #7
You are right, this has just been fixed.

[2015-11-09 21:47] #7 closed

[2015-12-09 00:47] ocafebabe opened #8 "Unable to ping from inside container"
It seems that only the root user is able to ping a host from inside an openSUSE (13.2) based container:

[code]

It seems that RHEL 7 is affected by this issue as well:

https://bugzilla.redhat.com/show_bug.cgi?id=1142311

So I tried to run the container with the specified switches (--cap-add net_raw --cap-add net_admin) but to no avail!

[2016-02-01 13:27] flavio commented on #8
@cyphar: could you take a look please?

[2016-02-01 22:29] cyphar commented on #8
@ocafebabe Can you please provide us with the output of the following commands?

[code]

[2016-02-01 22:33] ocafebabe commented on #8
There you go

[code]

[2016-02-01 22:59] cyphar commented on #8
@flavio I'll take a look at this today.

[2016-02-02 10:14] cyphar commented on #8
I can reproduce this issue on Arch Linux as well as openSUSE. I'll take a look at this, it looks like the capabilities are being dropped after `su` (which might be intended behaviour).

[2016-02-02 13:58] cyphar commented on #8
This is going to sound crazy, but can you verify if the following works for you:

[code]

Then, in another terminal do:

[code]

Then in your container do your test again. Does this "fix" the issue?

[2016-02-02 17:28] ocafebabe commented on #8
Yep now it works:

[code]

But I don't think this is "intendend" behavior since it doesn't do that on Ubuntu containers...

[2016-02-02 21:52] cyphar commented on #8
@ocafebabe Yes, I think you're right that this is a bug (since your user has the capabilities, which you can confirm using `capsh --print`). I just wanted to confirm my suspicion that your problem is caused by the same issue.

[2016-02-03 12:36] cyphar commented on #8
Okay, we've root-caused this. It's because the capability extended attribute isn't set for `/usr/bin/ping`. There appears to be an issue with `kiwi` or some aspect of our build scripts. We'll investigate this further and release updated openSUSE container images.

You can install `libcap-progs` and then use `setcap cap_net_raw+ep /usr/bin/ping` as a workaround for now.

[2016-02-03 21:15] ocafebabe commented on #8
@cyphar Thanks

[2016-03-06 10:48] cyphar commented on #8
This has been fixed in kiwi. We're working on releasing new openSUSE images.

[2016-03-14 13:58] cyphar commented on #8
This has been fixed in this repo, and will be available in `library/opensuse` once docker-library/official-images#1537.

[2016-03-14 13:58] #8 closed

[2016-03-15 08:41] filex opened #9 "no bash in 42.1 image"
With the latest opensuse:42.1 image that was pushed yesterday (`b4c01597c09e`), I cannot execute bash (or anything else) anymore:

[code]

Using one of the opensuse:42.1 images that was up before (`ad9bc486fac9`) it works as expected:

[code]

[2016-03-15 10:01] flavio commented on #9
This is a duplicate of https://github.com/openSUSE/docker-containers/issues/13

[2016-03-15 10:01] #9 closed

[2016-03-31 08:27] fusion809 opened #10 "Cannot run sudo: policy plugin fails to initialize session"
Hi,

I have noticed that running `sudo` (after su-ing into a useraccount in the wheel group with the `%wheel` lines uncommented in my /etc/sudoers file) in an openSUSE Tumbleweed container always returns:

[code]

this prevents me from building packages with the OBS.

NOTE: This issue was originally about SSL issues with OSC checkout, but I seem to be rid of this error. This fix occurred after upg

[2016-03-31 14:22] fusion809 commented on #10
Further details can be found [here](https://forums.opensuse.org/showthread.php/516875-sudo-policy-plugin-fails-to-initialize-session-in-a-Docker-container-why?p=2772728#post2772728) at the openSUSE Forums. This error **does not** occur in the openSUSE Leap container.

[2016-04-07 07:16] boombatower opened #11 "Tumbleweed image is actually part leap"
[code]

In fact none of those repos are correct.

[2016-04-07 07:51] flavio commented on #11
@jordimassaguerpla could you take a look at that please?

[2016-04-07 08:38] jordimassaguerpla commented on #11
sure

[2016-04-07 09:23] boombatower commented on #10
Could be related to #11 .

I was seeing weird behavior which seems to be a result of libraries from leap and factory. In fact looking at your title change mine was related to openSSL as well. :)

[2016-04-07 14:59] jordimassaguerpla commented on #11
Hi. We submitted a new image to docker hub but while this one gets published, you can take the one from

https://github.com/openSUSE/docker-containers-build/tree/openSUSE-Tumbleweed/docker

You will have to import it. You can do that with

docker import - opensuse:tumbleweed_from_github < openSUSE-Tumbleweed.tar.xz

[2016-04-07 15:37] jordimassaguerpla commented on #11
You can now get the image from docker hub. Do:

docker pull opensuse/amd64:tumbleweed

make sure you are getting the image from opensuse/amd64 and not from opensuse.

Due to current issues with the build process for library/opensuse, opensuse/amd64 is a temporary home for fresh openSUSE images that work properly.

[2016-04-07 15:37] #11 closed

[2016-04-07 17:50] boombatower commented on #11
Thanks. Please update this issue if it moves.

[2016-04-08 07:27] flavio commented on #10
This is not related with issue #11, the bug can be triggered also with the fixed image.

The problem seems to be caused by pam 1.2.1 which now has the following limits inside of `/etc/security/limits.conf`:

[code]
None of these entries is available inside of pam 1.1.8, which is the version shipped with the 42.1 docker image.

It turns out this line is the offender:
[code]
By commenting this line

[2016-04-09 05:03] boombatower commented on #11
Hmm,

[code]

- would expect the tumbleweed repository url not factory
- would also expect the normal 4 repos to be there just like when installing TW on any machine

The normal 4 being:

- http://download.opensuse.org/tumbleweed/repo/debug
- http://download.opensuse.org/tumbleweed/repo/non-oss
- http://download.opensuse.org/tumbleweed/repo/oss
- http://download.opensuse.org/update/factory/

[2016-04-11 07:44] flavio commented on #11
@boombatower I just pushed a fixed image to `opensuse/amd64:tumbleweed`. I'll submit a PR against the official docker images too.

[2016-04-12 03:17] boombatower commented on #11
Much better thanks.

[code]

[2016-04-15 08:06] kakabuluo opened #12 "how to install "en_US.UTF-8""
Hi,
      When I run command "locale -a", I found that there has no "en_US.UTF-8"
[code]
so, how to install it?
Thanks for you time

[2016-04-15 08:12] flavio commented on #12
We deliberately remove all the unnecessary locales to save disk space. You can have all of them back by doing:

[code]

There's no way to selectively install just one locale

[2016-04-15 08:12] #12 closed

[2016-04-15 11:35] dbloms opened #13 "some binaries are outdated"
Hi,

it seems that the images is outdated, it would be nice to have an updated image:

~> docker images opensuse:leap
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
opensuse            leap                7617deda9fe6        6 weeks ago         97.67 MB

~> docker run -ti opensuse:leap  bash
bash-4.2# zypper lu
Retrieving repository 'NON-OSS' metadata ........

[2016-04-15 13:12] flavio commented on #13
The image inside of the official namespace is outdated because of this issue https://github.com/docker-library/official-images/pull/1537#issuecomment-196652045

There's nothing we can do, it's a problem on the docker hub.

In the meantime you can get latest images with `docker pull opensuse/amd64:leap`

[2016-04-15 13:12] #13 closed

[2016-06-13 19:38] jhosmer opened #14 "The 13.2 image contains 13.1 Zypper repos"
The latest 13.2 image contains 13.1 Zypper repos:

[code]

[2016-06-14 08:31] hirenvadalia commented on #14
+1

[2016-06-14 08:32] subhasisb commented on #14
we have been having problems as well due to this issue.

[2016-06-14 08:52] crjayadev commented on #14
+1, We are not able to resolve some dependencies due to this change.

[2016-06-14 09:22] brauner commented on #14
Please pull and use `opensuse/amd64:13.2` for now. We're having some issues updating `opensuse:13.2` images.

[2016-06-14 09:23] brauner commented on #14
Related to https://github.com/openSUSE/docker-containers/pull/20.

[2016-09-05 13:37] afaerber opened #15 "Add Leap 42.2 image"
With Beta 1 of Leap 42.2 out, can you set up an openSUSE-42.2 branch and corresponding [Kiwi build](https://build.opensuse.org/project/subprojects/Virtualization:containers:images) please?

[2016-09-05 14:24] afaerber commented on #15
https://github.com/openSUSE/docker-containers/pull/17 already merged the templates.

[2016-10-06 16:09] lnussel commented on #15
@flavio ?

[2016-10-06 16:27] tboerger commented on #15
We still want to provide Jenkins jobs that automatically updates the branches

[2016-10-06 16:29] tboerger commented on #15
Beside that we need to provide the content for https://build.opensuse.org/package/show/Virtualization:containers:images:openSUSE-42.2/openSUSE-42.2-docker-image

[2016-10-07 09:32] tboerger commented on #15
I have accepted https://build.opensuse.org/request/show/428993 now to get it built on OBS.

[2016-10-07 09:36] tboerger commented on #15
@flavio please push the branch when the build is done, than we can close this issue.

[2016-10-12 11:37] tboerger commented on #15
Now we got https://github.com/openSUSE/docker-containers-build/tree/openSUSE-42.2 and also `opensuse/amd64:42.2` so I will close this issue for now.

[2016-10-12 11:37] #15 closed

[2016-10-12 11:38] tboerger opened #16 "Publish images to library"
We need to update the official library, especially since we got https://github.com/openSUSE/docker-containers-build/tree/openSUSE-42.2 now.

[2016-10-12 11:40] tboerger commented on #14
This is already solved as you can see here:

[code]

But if you want to have the most up to date images you should use `opensuse/amd64` since this image gets updated automatically by our Jenkins server if our OBS generated a new root filesystem for it.

[2016-10-12 11:40] #14 closed

[2016-10-13 07:24] flavio commented on #16
I don't think we should update the image inside of the official library to use 42.2 given it's not out there yet.

I'm fine with updating the existing 42.1 image to a more recent one. In that case please submit the image and add me to the PR against library.

[2016-10-13 21:40] tianon commented on #16
I've included `library/opensuse` in https://github.com/docker-library/official-images/pull/2254, but I'm happy to remove the update there if you'd prefer to update this yourselves. :smile: :+1:

[2016-10-14 08:55] tboerger commented on #16
@tianon thanks, totally fine with that change. So let's close this issue.

[2016-10-14 08:55] #16 closed

[2016-10-26 12:40] gallardo opened #17 "Document how to start services"
I pulled [opensuse:42.1](https://github.com/openSUSE/docker-containers-build/blob/c8abb4323ef1744bfb9e5d4f127d9076083f0a6e/docker/Dockerfile), installed mysql  (`zypper in mysql`) and naively tried to start it as a service (first, assuming systemd, with `systemctl start mysql`; and after a `Failed to get D-Bus connection: Unknown error -1` and resourcing to reading the package doc, with a non-exis

[2016-10-26 15:21] tboerger commented on #17
It's pretty uncommon to use anything like that in containers. The common use case is to launch a single service directly, without systemd or sysvinit. If you still got questions feel free to ask, I will close this issue for now.

[2016-10-26 15:21] #17 closed

[2016-10-26 15:36] gallardo commented on #17
@tboerger My plan was to test a webapp, so I though:

1. `docker run -ti -name myapp ... opensuse:42.1 ...`
2. (In myapp) `zypper in tomcat`
3. Edit `/etc/default/tomcat`
4. Start tomcat (`rctomcat`, `/etc/init.d/tomcat`, `systemctl start tomcat`)

In this case I could as well install tomcat and exec `catalina start`, but first I have to make sure that running tomcat this way is equivalent to runn

[2016-10-27 10:31] gallardo commented on #17
Update from [alcohol](https://botbot.me/freenode/docker-library/msg/75510569/):

and [Geo](https://botbot.me/freenode/docker-library/msg/75511838/):

Looks as if I had missed Docker's goal...

[2016-11-02 19:09] dothebart opened #18 "Mandatory files in /etc/ not shipped with docker container"
I've run:
`docker run -it --volume /tmp/:/build opensuse:13.1  /bin/bash`

And I'd expect these files to be there:

    /etc/os-release
    /etc/rc.status

but they're missing.
similar centos containers do ship it.
Building rpms would lean on the presence of the first, starting deamons via init scripts on the presence of the second.

[2016-11-02 19:12] tboerger commented on #18
13.1 doesn't provide this file, only SuSE-release, beside that 13.1 reached Eola.

[2016-11-02 19:12] #18 closed

[2016-11-02 19:19] dothebart commented on #18
while `os-release` is there in 13.2, `rc.status` isn't. so I think this is still a bug that should be fixed.

[2016-11-02 19:53] tboerger commented on #18
os-release have been first introduced in 13.2, not before.

[2016-11-02 20:02] dothebart commented on #18
yes, but, again, what about `rc.status` ?

[2016-11-02 20:05] tboerger commented on #18
Why should that be part of a container? The containers don't provide an init system.

[2016-11-04 01:05] victorock opened #19 "Remove/Clean systemd services"
The docker containers image include every systemd services by default.
Cleanup of system services should be removed, just like centos systemd image.
Please refer to the link below for further information:
https://hub.docker.com/_/centos/

[2016-11-23 23:29] MihaiB opened #20 "Login shells do not source /etc/profile.local or /etc/profile.d/*"
Dockerfile to reproduce:
[code]
Running `docker build --no-cache --force-rm .` I expect to see all `hello` messages. Instead, it prints only:
[code]
I believe this started happening around 1 week ago when the `opensuse` docker image was updated.

If I add the `echo` commands to the same files in OpenSUSE Tumbleweed installed on my computer, `su --login` prints all the `hello` messages. My OS is up

[2016-11-24 12:41] tboerger commented on #20
How do you launch the container?

[2016-11-24 16:47] MihaiB commented on #20
I didn't launch a container, just:
[code]
and checking the output of the last `RUN` command from the Dockerfile.

Any way I can think to launch a container that starts a login shell, e.g.:
[code]
gives the same output. Only:
[code]
but not the `hello` messages from `/etc/profile.local` or `/etc/profile.d/hello.sh`.

[2016-11-24 18:54] tboerger commented on #20
docker run -ti --rm myimg bash

[2016-11-24 19:23] MihaiB commented on #20
Same behavior. Of course `-ti` lets me use the shell, but the issue is that `/etc/profile.local` and `/etc/profile.d/*` are not sourced by the login shell.

According to [these OpenSUSE Leap docs](https://doc.opensuse.org/documentation/leap/startup/single-html/book.opensuse.startup/index.html#sec.adm.whatistheshell), a login shell should source the files I mentioned.

Instead, both `opensuse:leap`

[2016-11-25 09:08] flavio commented on #20
I suspect this might be happening because we deliberately removed some unneeded packages to keep the images as small as possible.

What is your use case, what are you trying to achieve?

[2016-11-25 15:31] MihaiB commented on #20
I'm trying to set the locale to English US UTF-8. I managed to do it by installing `glibc-locale` and setting an env var in `/etc/profile.d/my-locale.sh`. After that, login shells (`su --login`, `bash --login`) have the desired locale.

My method stopped working recently, so I worked around it by using `/etc/profile` instead of `/etc/profile.d/*` and opened this issue in case this was a bug that s

[2016-11-25 16:07] tboerger commented on #20
As I'm on mobile I can't tell you where this tool comes from, but the proper way to set a system locale should be:

localectl set-locale LANG=

But beside that our kiwi definition for the base image can also define a locale.

[2016-11-25 16:09] tboerger commented on #20
For reference: https://github.com/openSUSE/docker-containers/blob/master/openSUSE-Tumbleweed/config.kiwi#L21

[2016-11-27 02:48] MihaiB commented on #20
Thank you for the quick responses.

`cnf localectl` points to `systemd`. But in a container:
[code]
I guess it requires systemd to be running, and after a quick websearch this seems non-trivial.
I will close this issue since the original reason for which I opened it is resolved.

[2016-11-27 02:48] #20 closed

[2016-12-16 12:34] livelace opened #21 "Tags for current major versions"
Is there a possibility to add a feature that allows pull the current major images ?

For instance:

docker pull debian:7 -> will download debian:7.17 image version

docker pull opensuse:13 -> will download 13.2 (or 13.3, if 13.3 - it's the latest release)

[2016-12-16 12:38] tboerger commented on #21
I don't think that we will provide that as these versions are not really comparable to the versions of Debian and so on. Beside that, the 13.x versions are nearby EOL

[2016-12-16 14:26] livelace commented on #21
What ? This is a simple step - tag your latest version (13.3, 42.2, 54.4) with major version (13, 42, 54). People don't need to know which version is latest in 13, 42, 54 releases.

PS. >_<

[2016-12-16 15:24] tboerger commented on #21
No, it's not like that. I would compare the opensuse minor versions more with Debian major versions. Between the versions are major changes, so there can be incompatibilities that will result in broken setups. So I'm sure that the current tagging will stay like that.

[2016-12-17 06:54] livelace commented on #21
Forget about Debian or Ubuntu. Answer to a simple question. How people can know which the latest release of the specific version ? How people can download the latest release without knowledge about the latest version ?

PS. Again - forget about differences between distros.

[2016-12-21 08:54] tboerger commented on #21
@flavio maybe this is something you can better explain or give a decision as the containers lead.

[2016-12-21 08:57] tboerger commented on #19
I'm not sure if I understand correctly, are you talking about the service files you can find in /etc? Or are you talking about the systemd package that must be part of the image?

[2016-12-21 09:03] tboerger commented on #10
Looks like this have been resolved?

[code]

[2016-12-21 09:03] #10 closed

[2017-02-17 13:21] flavio commented on #21
Sorry for the long delay...

@livelace this has been fixed in the meantime. We are tagging our releases as 13.1, 13,2, 42.1, 42.2,... You can see that [here](https://hub.docker.com/r/library/opensuse/tags/) and [here](https://hub.docker.com/r/opensuse/amd64/tags/).

[2017-02-19 10:14] tboerger commented on #21
@flavio he was talking about tagging `:13` and `:42`

[2017-02-23 18:34] tianon opened #22 "POWER and Z (among others)"
Hey folks -- we don't have a way to officially consume other architectures yet for official images (initial work for that sort of thing over in https://github.com/docker-library/official-images/issues/2289 / https://github.com/docker-library/go-dockerlibrary/pull/2), but there's some interest in at least getting some initial images up for testing, etc of other platforms (specifically from the IBM

[2017-02-23 19:13] tboerger commented on #22
I have started to provide the rootfs months ago, you can see the rootfs for various architectures like these for tumbleweed at https://build.opensuse.org/project/show/Virtualization:containers:images:openSUSE-Tumbleweed

[2017-02-23 19:15] tboerger commented on #22
I forgot to mention, the only missing part for your git based workflow are branches within this repository

[2017-02-28 23:22] tianon commented on #22
Oh, nice!  So, I _think_ the release files I'm looking for would be the ones under https://build.opensuse.org/package/binaries/Virtualization:containers:images:openSUSE-42.2/openSUSE-42.2-docker-image?repository=images, right?

As I noted, official images don't have a way to consume these officially (yet), but I do want to wire up my temporary automation to be pulling these in for creating `armhf/

[2017-03-01 09:41] cyphar commented on #22
@tianon Note that we are currently undergoing a lot of work within KIWI to make it output proper Docker images (`docker save`-style) using `umoci` and `skopeo`. In particular look at SUSE/kiwi#216 which now means that base images are built using `umoci` and then converted to Docker images with `skopeo`. Eventually these are going to be exported by OBS as tar files, so the current Dockerfile system

[2017-03-01 12:13] jordimassaguerpla commented on #22
Hi @tianon : There is always a file without the "Build" suffix which is actually a link to the latest Build, so you can use that one. You can have a job look for the date of that file and pull it when it changes.

[2017-03-01 22:07] tianon commented on #22
@jordimassaguerpla ahhh, thanks -- http://download.opensuse.org/repositories/Virtualization:/containers:/images:/openSUSE-Tumbleweed/images/ is a much better link for seeing the actual artifacts :smile: :+1: :heart:

See https://hub.docker.com/r/armhf/opensuse/, https://hub.docker.com/r/aarch64/opensuse/, and https://hub.docker.com/r/ppc64le/opensuse/. :+1: (`s390x` is WIP because my s390x host is

[2017-03-07 22:54] clnperez commented on #22
Huge thanks @tianon for pushing those ppc64le images to dockerhub! 🌷

@tboerger It looks like maybe the repos in the images need to be tweaked. I'm unable to install curl, for example.

[code]
[code]

[code]

[2017-03-08 13:08] cyphar commented on #22
@clnperez Thomas probably isn't the best person to ping about issues with images, given that he's moved on from working for SUSE (he's at OwnCloud now). While he's still technically a maintainer, we have a containers team at SUSE which works on this stuff as our full-time jobs.

To answer your question, the package situation for `s390x` and `ppc64le` is quite complicated for openSUSE. Basically, i

[2017-03-08 13:45] tboerger commented on #22
I think he just asked me because I directly responded to that :P

[2017-03-08 16:38] clnperez commented on #22
@cyphar Here ya go:

[code]

It sounds like we need to just add something like http://download.opensuse.org/ports/ppc/distribution/13.2/repo/oss/suse/ppc64le/, but could you point me to the right place for 42.1? I'm more familiar with SLES than OpenSuSE so I don't know how the releases are setup.

[2017-03-08 19:57] clnperez commented on #22
@cyphar I found this: http://download.opensuse.org/ports/ppc/distribution/leap/42.1/repo/oss/
and it works. 😃

[2017-03-08 23:05] cyphar commented on #22
I was going to ask if you would do something like `zypper ar obs://openSUSE:Leap:42.1:Ports` if that fixed anything. I'll ping @jordimassaguerpla and @davidcassany whether they can figure out why those repos aren't enabled by default.

[2017-03-10 15:57] flavio commented on #22
Just a quick note, people from IBM approached me and I manually pushed an openSUSE tumbleweed image [here](https://hub.docker.com/r/opensuse/s390x/tags/).

The image was built with a simple Dockerfile like this one:

[code]
The repositories bundled inside of it are working fine, it looks like @jordimassaguerpla and @davidcassany fixed that in the meantime.

Once we are done with an internal milest

[2017-03-10 16:18] clnperez commented on #22
@cyphar I tried the command you pasted to see if it would be helpful, and before I could get to it, I first tried installing curl (to exactly recreate). There were new repo issues with checksums on tumbleweed (not with 42.1) on ppc64le:
`Warning: Digest verification failed for file 'appdata-icons.tar.gz'`
`Warning: Digest verification failed for file 'appdata-screenshots.tar'`
etc.

But in the end

[2017-03-18 08:40] tkelman commented on #15
Sorry to post on a long-closed issue, but does anyone have a good handle on why the 42.2 image is 38.5% larger than the 42.1 image? And tumbleweed is 61% larger than 42.1?

[2017-03-18 16:26] flavio commented on #15
I think @schaefi might have looked into that sometimes ago... @schaefi, do you recall your findings?

[2017-03-21 03:15] CrimsonGlory commented on #22
Would be nice to have mongodb image on hub.docker.com/u/ppc64le

[2017-03-21 14:39] clnperez commented on #22
Thanks for the feedback @CrimsonGlory

[2017-03-22 09:39] schaefi commented on #15
All the information I found I put on the trello card of the docker team. I'm afraid I can't remember the card name. If nothing has changed in the list of packages for the container setup between 42.1, 42.2 and TW the only reason for the huge size difference is due to changed package requirements.

It would help if we can run:

[code]

and compare the results with a diff check

[2017-06-16 23:36] yosifkit commented on #22
We're finally officializing a lot of the multiarch work we've been doing, and as such we think we've finally got some decent examples that are worth looking at for how openSUSE might be enabled for multiarch :slightly_smiling_face:  We also have a [multiarch section](https://github.com/docker-library/official-images/tree/01714aa7a310c8b5f24b3cd45a29e33c1b5d6ee7#multiple-architectures) in the offic

[2017-06-20 07:13] flavio commented on #22
This is great, we are definitely going to join the party :)

[2017-06-21 17:53] jordimassaguerpla commented on #22
A PR for fixing the repos in tumbleweed:

https://github.com/openSUSE/docker-containers/pull/66

Regarding the official multiarch section, I understand we could have different directories or branches in our github repo for the different archs, right? Since openSUSE is a "From scratch" image.

[2017-06-21 18:09] tianon commented on #22
Yeah, different branches or different directories are fine -- whatever works best for your flow!

[2017-06-21 18:10] tianon commented on #22
For Debian, Ubuntu, and BusyBox, I went with different branches since it made it easier to work with, but directories are fine too! (as seen in the example I made in https://github.com/tianon/docker-brew-alpine-multiarch for how Alpine could work)

[2017-07-11 23:40] yukiisbored commented on #19
@tboerger I think he meant removing the systemd services to make the image smaller since they're not required for Docker.

[2017-07-12 07:50] davidcassany commented on #19
@yukiisbored removing systemd package from the Docker image is not that easy; currently, any service package including systemd unit files includes a hard requirement for systemd, IMHO the only feasible ways I see to work around that are:

1. breaking package dependencies (you could install whatever requires systemd and after that delete systemd and its own depencendies with `rpm -e`).

2. build an

[2017-07-13 21:09] tianon commented on #22
Anything we can do to help here? :smile: (just a friendly prod :+1: :heart:)

[2017-07-15 10:18] flavio commented on #22
@davidcassany is currently working in converting our internal build pipeline to use a new native docker build feature he added to [KIWI](https://github.com/SUSE/kiwi). Adding the new architectures will follow along.

[2017-07-19 09:37] utzb commented on #22
Hello @flavio and @davidcassany , we just realized that https://download.opensuse.org/ports/zsystems/ contains tumbleweed packages, but no repository for 42.2 packages on s390x. Is that just a glitch and a matter of activating, or do you expect it will not happen until the next release?

[2017-07-20 07:45] flavio commented on #22
Last time we checked [OBS](https://build.opensuse.org) had s390x repositories only for Tumbleweed. I don't know if the situation changed in the meantime, we will double check while working on this issue.

[2017-07-21 09:22] davidcassany commented on #22
@tianon, as @flavio said I am working on updating the pipeline we have to produce our Docker images; also, as @cyphar mentioned here months ago, our current workflow is changing to better integrate the Open Build Service and KIWI to produce native Docker images (native in the sense that the resulting tarball is ready to be loaded `docker load -i myimage.tar.xz`). So I am wondering if do we have an

[2017-07-21 20:45] tianon commented on #22
See https://github.com/docker-library/official-images/issues/527 for an older (still relevant) discussion of some issues with us doing that.

We'd also love to support Git-LFS, but as discussed in https://github.com/docker-library/official-images/issues/1095, it didn't support `git archive` last we tested (which might have changed since I last tested, but I'm not very hopeful).

I have been consid

[2017-08-04 17:00] davidcassany commented on #22
@tianon thanks the response and the references, I read the thread you suggested (https://github.com/docker-library/official-images/issues/527) and I understand there are some reasons to prevent the suggested there strategy. I was wondering if what I have done [here](https://github.com/davidcassany/docker-containers-build/tree/openSUSE-42.3) and [here](https://github.com/davidcassany/official-image

[2017-08-07 20:39] Sharpie opened #23 "opensuse:13.2 is built with invalid repositories"
Adding software onto the `opensuse:13.2` image fails. Consider the following Dockerfile:

[code]

Running `docker build` fails:

[code]

Even though the requested package is installed, the failures to retrieve repository metadata cause a non-zero exit code which fails the entire build. The http://download.opensuse.org/update repo server doesn't list any directories for 13.2.

[2017-08-07 20:56] tboerger commented on #23
I think the repos have been dropped because 13.2 reached EOL

[2017-08-08 07:24] flavio commented on #23
Yes, @tboerger is right. 13.2 reached EOL, this is why the repositories are no longer around. This doesn't depend on this project.

[2017-08-08 07:24] #23 closed

[2017-08-08 22:38] tianon commented on #22
I mean, `FROM davidcassany/amd64@sha256:aef1d1c1151d14fd09143812b6d65bb5bfbee626f4c88d1a6e87b224c11ccc67` is a clever way to solve the tarballs-in-Git problem, but it doesn't solve anything about the review problem (and actually makes the review more complicated, since we then have to inspect the images themselves to ensure the metadata and layers are sane), and will then require additional exempt

[2017-09-06 09:14] flavio commented on #22
Unfortunately this multi approach solution would not work because the tarball we are producing is now something like `docker save -o foo.tar` instead of `docker export -o foo.tar`. 😞

[2017-09-06 16:19] cyphar commented on #22
@tianon The problem is that we are no longer producing simple tarballs. We use `umoci` to create an OCI image which contains all of the metadata and then convert it to a Docker image with `skopeo`. The result is that the final image is a full-on `docker save` image -- which is why we'd need to use `FROM` to include it in the image.

The thing is, the old method of just including a `.tar` file wasn

[2017-10-30 01:34] vielmetti commented on #22
Putting my name in here to express an interest in seeing arm64 OpenSUSE images, as well as to query re status changes since early September.

[2017-11-08 22:03] mnhauke commented on #22
I just tried arm32v7/opensuse and aarch64/opensuse and found some issues:

#### 01 - Docker recently did some reorganization on their registry for 64bit ARM systems
See the deprecation notice in https://hub.docker.com/r/aarch64/opensuse/

#### 02 - arm32v7/opensuse:tumbleweed is broken
RPMs for the wrong platform (from the armv6hl repositores) are installed per default
`http://download.opensuse.or

[2017-11-09 01:49] cyphar commented on #22
@mnhauke In general we would recommend using images from the `opensuse/` namespace -- we have automated jobs that push to it immediately after they're built by OBS. Unfortunately it doesn't look like we have `opensuse/arm64` (or whatever appropriate ARM would be).

/cc @jordimassaguerpla @davidcassany

[2017-12-01 13:45] michelmno commented on #22
FYI, I verified that two last  openSUSE images for ppc64le are able to be pulled from https://store.docker.com/images/opensuse but still have inside bad zypper repos, so add question in previous reference https://github.com/openSUSE/docker-containers/pull/66

[2017-12-06 12:50] eduardoj opened #25 "Repos for 42.2 in 42.3"
When I try to use opensuse:42.3 docker image has the repos for 42.2:

[code]

[2017-12-07 10:13] #25 closed

[2017-12-12 08:06] flavio commented on #22
@davidcassany can you take a look at that please?

[2017-12-12 08:11] davidcassany commented on #22
@flavio this was solved last week here https://github.com/openSUSE/docker-containers/pull/79 and closed the other mentioned issue, I just didn't realize this issue was still open.

[2017-12-12 08:11] #22 closed

[2017-12-15 14:57] davidcassany commented on #10
@flavio, just for the record

We are having a similar issue in leap 42.3 here https://github.com/openSUSE/docker-containers/issues/82 and apparently sudo fails when pam tries to apply the rules from /etc/security/limits.conf which exceeds the default docker values for the container's PID 1. Since Leap 42.3 if limits.conf has higher values to the default (or set with `--ulimit`) docker values pam f

[2018-01-17 13:54] jitakirin opened #26 "Change default locale to an UTF-8 one"
I came across #12 and I understand why additional locales are not installed, however..

Would it be possible to change the default locale from `POSIX` to `C.UTF-8`? The current default causes problems with python programs, for example:

[code]

when run will produce:

[code]

[2018-01-17 17:31] davidcassany commented on #26
@jitakirin Which is the base image that are you using?

I think the easiest way to work around that is to use the PYTHONIOENCODING=UTF-8 environment variable, which will ensure that UTF-8 is used regardless of what python guesses from the system.  In the official library the python images make use of the `LANG=C.UTF-8` environment variable, however I have tested it with tumbleweed base image and i

[2018-01-18 11:31] cyphar commented on #26
I believe this is related to [this known Python issue](https://lwn.net/Articles/741176/). Not sure if there's much we can really do (it's not clear how we should set the locale and whether/how it should be inherited from the host it's running on).

[2018-01-19 21:02] jitakirin commented on #26
@davidcassany Sorry, I should've mentioned, I use `opensuse:tumbleweed` image. Setting `PYTHONIOENCODING=UTF-8` actually works without doing anything else (like installing locales), which makes my sceptical mind think it's too good to be true and that there's probably a flip side to it 😉 but so far I cannot find anything, so hey, I think I'll go with that at the moment 😀

@cyphar I think you are s

[2018-01-23 15:56] davidcassany commented on #26
@jitakirin we are currently discussing it, this is not obvious since this C.UTF-8 (and all others) locale comes from `glibc-locale` package which is not part and will not be part of the docker base images. The problem with this package is that is damn heavy (about 117MB), so now we are currently discussing several options to include some UTF-8 locale in the base image.

[2018-04-11 08:43] abergmann opened #27 "directory ownership problem with /var/cache/man inside official Leap images"
It came to my attention that the ownership of /var/cache/man is not set correctly inside the official opensuse leap (42.2/42.3) containers that are distributed via hub.docker.com.

`#> docker pull opensuse`
`Using default tag: latest`
`latest: Pulling from library/opensuse`
`Digest: sha256:3239da690c9c12447e0137c8a5028a64317901356167bbc6c420c9a697e1f8e0`
`Status: Image is up to date for opensuse:l

[2018-04-19 12:37] hwoarang opened #29 "Please restore symlinks for base images"
It seems like #28 removed the various ``openSUSE-Leap-42.3.base.$arch.tar.xz`` symlinks and this breaks some OpenStack services which were depending on them. Could you please restore them?

[2018-04-19 12:43] hwoarang commented on #29
@davidcassany @Vogtinator

[2018-04-19 13:12] davidcassany commented on #29
@hwoarang I am not sure I understand the issue. So the problem you have is that `openSUSE-Leap-42.3.base.$arch.tar.xz` tarballs are no longer downloadable from this repo? I am sorry if this caused you issues, I was not aware there was anyone using this repo for anything else than submitting to the official docker library. In fact, this repository was created with the only purpose of submitting ima

[2018-04-19 13:33] hwoarang commented on #29
@davidcassany yeah we were using ``openSUSE-Leap-42.3.base.$arch.tar.xz`` in OpenStack in order to get some base rootfs for LXC containers. We are using these outside of the docker context similar to

``https://github.com/CentOS/sig-cloud-instance-images/raw/CentOS-7/docker/centos-7-docker.tar.xz``
and
``http://cdimage.ubuntu.com/ubuntu-base/releases/16.04/release/ubuntu-base-16.04.4-base-x86_64.t

[2018-04-19 14:42] Vogtinator commented on #29
This repository won't be maintained in the future - it's only kept until 42.3 is EOL to submit security updates.

I recommend you to build an image specifically for your purpose - you can start by branching the official containers on OBS. For static filenames, you can simply use a `kiwi_post_run` hook to rename the tarball.

[2018-04-19 15:07] hwoarang commented on #29
I see. Sadly building such tarballs is outside the scope of our projects so we were looking to simply consume something published from distributions directly. Thank you for the reply. We will try to look for alternative rootfs tarballs for our containers.

[2018-04-19 15:14] Vogtinator commented on #29
Sounds like something openSUSE could provide officially - can you file a bug report with your requirements?

[2018-05-15 12:49] rohitsakala opened #31 "Not able to install packages in openSuse docker image"
I had pulled the latest docker image
```https://hub.docker.com/r/s390x/opensuse/``` to run on Z
and was trying to install packages using the command
```zypper -n in ruby-devel libmysqld-devel sqlite3-devel postgresql-devel libxslt-devel libxml2-devel libxml2 python3-kiwi wget sudo gcc-c++ curl git kpartx dracut libopenssl-devel which```

But I am getting the following error

![opensuseerror](https

[2018-05-15 15:29] flavio commented on #31
Are you sure the image has repositories configured? (`zypper lr -u`)

[2018-05-15 15:30] flavio commented on #31
Also... I wonder if this actually an image made by openSUSE. ping @davidcassany, @vogtinator

[2018-05-15 15:40] rohitsakala commented on #31
Hi @flavio ,

The command ``` zypper lr -u``` gives me this output.

![lru](https://user-images.githubusercontent.com/8402361/40067569-0f106564-5884-11e8-8a95-efa38da658f7.png)

Also, I found two docker hub repo for s390x OpenSuse Image. Which one should I use ?
1. https://hub.docker.com/r/opensuse/s390x/
2. https://hub.docker.com/r/s390x/opensuse/

Thanks :)

[2018-05-15 15:43] flavio commented on #31
These repositories do not contain packages for s390. If you open them from your browser you will see there are no s390 binaries.

To be honest I don't think openSUSE publishes s390x packages... @sysrich: do you know something about that?

[2018-05-15 16:42] Vogtinator commented on #31
We have openSUSE Tumbleweed for zSystems. openQA hasn't passed for quite a while though so the packages are quite outdated.

The only official openSUSE Tumbleweed container for s390x is available at `opensuse/tumbleweed`.

The repository to use is http://download.opensuse.org/ports/zsystems/tumbleweed/repo/oss/ BTW.

[2018-05-16 09:49] rohitsakala commented on #31
Hi @Vogtinator @flavio ,

Thank you for pointing me to the right docker image and the right repository. I am facing few problems installing the packages such as the following one. Whom should I contact for these kind of errors ? or Please point me out to any slack/irc/forum link you know of ?

![errorpackage](https://user-images.githubusercontent.com/8402361/40109998-8881da70-591c-11e8-8dfd-6a837d

[2018-05-16 10:51] Vogtinator commented on #31
There is a mailing list: https://lists.opensuse.org/opensuse-zsystems/
You can also ask in #opensuse-factory on freenode.

The container is more recent than the latest released packages, as zSystems hasn't passed QA for quite a while, as I mentioned.

This happens because the port for zSystems is decoupled from the TW releases for x86, except for the container. This had to be that way as otherwise

[2018-05-16 10:54] rohitsakala commented on #31
Thank you for the solution. I will try around with the downgrade option. But I will also like to have access to the container based on mid 2017. Could you please provide me to the docker container link of mid 2017 ?
Thank you once again.

[2018-05-16 11:49] Vogtinator commented on #31
Thank you once again.

I checked - unfortunately I can't, the mid 2017 packages are not on OBS anymore.

I could build such a container locally, but that would not be official anymore.

This is a rather hacky Dockerfile which downgrades the container to the mid-2017 state.
No guarantee that it works as expected, but I don't expect any major problems (other than using mid-2017 packages...)

[code]

[2018-05-16 12:44] rohitsakala commented on #31
Thank you for the workaround. For now, it works with the hack. I will close the issue.

[2018-06-01 05:54] rohitsakala commented on #31
Hi @Vogtinator ,

The repo http://download.opensuse.org/ports/zsystems/tumbleweed/repo/oss/ doesn't have packages for runit, xen-libs, xen-tools-domU. Whom should I contact for the addition of these packages?

[2018-06-01 09:53] Vogtinator commented on #31
The [opensuse-factory] mailing list: https://lists.opensuse.org/opensuse-factory/

[2018-06-01 11:11] #31 closed, assigned to nobody

[2018-11-08 13:02] brunowego opened #32 "Container init"
I am trying start a container with `SYS_ADMIN` compatibilities.

[code]

The init binary not exists, have an alternative way? Thanks!

[2018-11-08 14:16] davidcassany commented on #32
openSUSE base images do not include systemd, thus there is no init. Docker images are not supposed to run systemd, but if you still want the `/sbin/init` for some reason it is as simple as installing `systemd` in a dervied image.

[2018-11-08 18:25] brunowego commented on #32
Thanks @davidcassany 👍

[2018-11-08 18:25] #32 closed, assigned to nobody

[2019-05-13 15:32] minnten opened #33 "problem with the Image"
Hello,

every time I try to run a docker image from openSUSE, i get an error:

Exited (0) Less than a second ago

the problem is, that i need a openSUSE base for a specific programm, that is only distributed on openSUSE. On the internet I was only able to find out, that this error code means that something with the image is not right. This happens to me with following images:

- opensuse/leap 42.3

[2019-05-29 08:47] Vogtinator commented on #33
How do you run it? I haven't heard about this kind of issues anywhere.

[2019-07-23 13:50] percy78 opened #34 "Unable to ping from inside container"
@cyphar

Hi, this has obviously been addressed earlier but unfortunately I have tested all to no avail.

The issue suddenly just appeared after a restart of my Nagios docker container, hence the issue as check_ping is invoked by the nagios user. What happened was that my docker storage /var/lib/docker almost got full. I therefore added a new drive on to my Ubuntu host and created a new LVM volume

[2020-04-15 08:40] spothound opened #35 "Broken permissions on Tumbleweed:latest"
Hello there!

I've noticed the current image on DockerHub for OpenSuse Tumbleweed had wrong permissions.

# Steps to reproduce:
[code]

Meanwhile:

[code]

[2020-04-24 13:16] spothound commented on #35
Seems that this is not an issue with the image itself... when running it in a centos7 machine with SE Linux, this error appear. The same docker image running on an Ubuntu machine work as expected.

[2020-04-24 13:16] #35 closed, assigned to nobody

[2020-10-27 21:05] #21 closed